/**** FORMS ****/
.formularios{
    /* formulario de contacto*/ 
        background:linear-gradient(90deg, rgba(128,0,255,1) 19%, rgba(32,0,36,0.3925945378151261) 88%);
        border: solid;
        border-radius: 35px;
        border-color: $secondarycolor;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center; 
        align-items: center; 
        font-size: $textmd;
}

.formlogin{
    /*para darle mas alto*/
    height: 200px;
}














