/**** NAV ****/
nav .div1{
    /* la clase div1 envuelve a todo lo que esta dentro de la nav */
    background-color: $secondarycolor;
    padding: 6px 35px;
    ul{
        list-style: none;
        display: flex;
        margin-left: auto;
        li{
            margin-right: 15px;
            a{
                text-decoration: none;
                font-size: $textmd;
                i{
                    &:hover{
                        color: $maincolor;
                    }
                }
            }
        }
    }

}
#logo{
    /* tamaño del logo que va en todas las paginas*/
    width: 80px;
    height: auto;
}
 