/* NOSOTROS */
.img-nosotros{
    /*el encabezado del apartado nosotros*/ 
    height:440px ;
    width:100%;
}
/*mapas*/
.map{
    /*el tamaño de los mapas */
    width: 440px;
    height: 340px;
}
.mapas{
    /*flexbox para los mapas*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6px;
}
.text3{
    /* background-color para los encabezados de los mapas en nosotros */
    // background-color: $keycolor;
    background: linear-gradient(90deg, rgba(85,18,18,1) 22%, rgba(77,59,59,1) 59%, rgba(74,58,35,1) 100%);
    width: auto;
}
