//variables globales

//colores
$maincolor:#800080;
$secondarycolor: rgb(13, 12, 12);
$keycolor: #2c2d2a ;
$white: rgb(240, 230, 230);
$addtocartbutton: rgba(25, 211, 218, 0.822);

//sizing
$textxs:0.8em;
$textsm:1em;
$textmd:1.1em;
$textlg:1.2em;
$textxl:1.5em;
// em rem
$textrem:1rem;

//width
$pxss: 40px;
$pxxs: 43px ;
$pxsm: 49px ;
$pxmd: 55px ;
$pxxl: 100% ;


